{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  
    <form method="post" class="mt-2">
        {% csrf_token %}

        <div class="row">
            <div class="col">
                {{ form.old_password|as_crispy_field }}
            </div>
        </div>

        <div class="row">
            <div class="col">
                {{ form.new_password1|as_crispy_field }}
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                {{ form.new_password2|as_crispy_field }}
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-primary" role="button">Back</a>
            </div>
            <div class="col-6">
                <button type="submit" class="btn btn-success float-right">Change Password</button>
            </div>
        </div>
    </form>

{% endblock %}
