<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'static/favicon.png' %}">
    <title>Recipes</title>
  </head>
  <body>

    <nav class="navbar navbar-light sticky-top" style="background-color: lightgray;">

    <a class="navbar-brand" href="{% url 'recipes:recipes' %}">Recipes</a>


    <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#hamburger-menu"
      aria-controls="hamburger-menu" aria-expanded="false" aria-label="Toggle navigation"><span class="dark-blue-text"><i
          class="fas fa-bars fa-1x"></i><img src="{% static 'static/hamburger-menu.png' %}" alt=""></span></button>
  

    <div class="collapse navbar-collapse" id="hamburger-menu">

        <ul class="navbar-nav mr-auto">
          
          {% if not user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:signup' %}">Sign Up</a>
          </li>

          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'recipes:favorite_recipes' %}">My favorites</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'recipes:shopping_list' %}">Shopping List</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'recipes:add_recipe' %}">Add recipe</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ request.user.username }}
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'accounts:change_password' %}">Change password</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout</a>
            </div>
          </li>
          
          {% endif %}
        </ul>

      </div>

    </nav>

    <div class="content container">
        {% block content %}
        {% endblock %}
    </div>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
