{% extends "base.html" %}

{% block content %}
<p>Title: {{recipe.title}}</p>
<p>Preparation: {{recipe.preparation}}</p>
<p>Created: {{recipe.created_at}}</p>
<p>Updated: {{recipe.updated_at}}</p>

<p>List of ingredients:</p>
{% for ingredient in ingredients_list %}
    
    <li>
        <a href="{% url 'recipes:update_ingredient' ingredient.pk %}">
            {{ ingredient.amount|default_if_none:"" }}
            {{ ingredient.unit|default_if_none:"" }}
            {{ ingredient.name }}
        </a>
        <form method="post" action="{% url 'recipes:delete_ingredient' ingredient.pk %}">
            {% csrf_token %}
            <button class="btn btn-danger" type="submit">Delete</button>
        </form> 
    </li>

{% empty %}

    <p>No available ingredients</p>

{% endfor %}

<p>Steps:</p>
{% for step in steps_list %}

    <li>
        {{ step.instruction }}
    </li>

{% empty %}

    <p>No available steps</p>    

{% endfor %}

<a href="{% url 'recipes:update_recipe' recipe.pk %}", class="btn btn-secondary", role="button">Update</a>
<a href="{% url 'recipes:delete_recipe' recipe.pk %}", class="btn btn-warning", role="button">Delete</a>
<a href="{% url 'recipes:add_ingredient' recipe.pk %}", class="btn btn-success", role="button">Add Ingredient</a>
<a href="{{ request.META.HTTP_REFERER }}" class="btn btn-primary" role="button">Back</a>

{% endblock %}
