{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="card">
    <div class="card-header">
        <p class="card-title">{{recipe.title}}</p>
        {% if recipe.description %}
        <p class="card-body">{{recipe.description}}</p>
        {% endif %}
        
        {% if user.is_authenticated %}
        <a href="{% url 'recipes:add_to_favorite' recipe.pk %}">  
            {% if is_favorite %}
            <img src="{% static 'static/favorite.png' %}" alt="Remove from favorites" height="50" width="50">
            
            {% else %}
            <img src="{% static 'static/non-favorite.png' %}" alt="Add to favorites" height="50" width="50">
            
            {% endif %}
        </a>
        {% endif %}

    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <strong>Ingredients:</strong>
                    {% for ingredient in ingredients_list %}
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <a href="{% url 'recipes:update_ingredient' ingredient.pk %}">
                                {{ ingredient.name }}
                            </a>
                            <span class="badge badge-secondary badge-pill">
                                {{ ingredient.amount|default_if_none:"" }}
                                {{ ingredient.unit|default_if_none:"" }}
                            </span>
                    <!-- <form method="post" action="{% url 'recipes:delete_ingredient' ingredient.pk %}">
                    {% csrf_token %}
                    <button class="btn btn-danger" type="submit">Delete</button>
                    </form>  -->
                        </li>
                    </ul>
                
                    {% empty %}
                    <p>No available ingredients</p>
                
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <strong>Steps:</strong>
                        {% for step in steps_list %}
                        <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a href="{% url 'recipes:update_step' step.pk %}">
                                {{ step.instruction }}
                            </a>
                            <!-- <form method="post" action="{% url 'recipes:delete_step' step.pk %}">
                                {% csrf_token %}
                                <button class="btn btn-danger" type="submit">Delete</button>
                            </form> -->
                        </li>
                    </ul>
            
                    {% empty %}
                        <p>No available steps</p>    
                
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    
    {% if request.user == recipe.owner %}
    <div class="row">
        <div class="col">
            <div class="card-body">
                <a href="{% url 'recipes:update_recipe' recipe.pk %}", class="btn btn-secondary", role="button">Update</a>
                <a href="{% url 'recipes:delete_recipe' recipe.pk %}", class="btn btn-warning", role="button">Delete</a>
                <a href="{% url 'recipes:add_ingredient' recipe.pk %}", class="btn btn-success", role="button">Add Ingredient</a>
                <a href="{% url 'recipes:add_step' recipe.pk %}", class="btn btn-success", role="button">Add Step</a>
                <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-primary" role="button">Back</a>
            </div>
        </div>
    </div>
    {% endif %}
    
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <strong>Comments:</strong>
                    {% for comment in comments_list %}
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <small><strong>{{comment.author}}</strong> {{comment.created_at|date:"D d M Y"}}</small>
                            <p>{{comment.content}}</p>
                        </li>
                    </ul>

                    {% empty %}
                    <p>No available comments</p>    
                
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
