{% extends "base.html" %}

{% block content %}

  <form action="{% url 'recipes:recipes' %}" method="GET" class="form-group">
    <div class="row m-4">
      
      <div class="col-8">
        <input type="text" class="form-control" placeholder="Enter a title" name="title">
      </div>

      <div class="col-2">
        <button type="submit" class="btn btn-success btn-block">Search</button>
      </div>

      <div class="col-2">
        <button type="submit" class="btn btn-warning btn-block">Reset</button>
      </div>

    </div>
  </form>
  
  {% if results %}
    
    {%  for result in results  %}
        {% if forloop.counter0|divisibleby:3 %} <div class="row text-center"> {%  endif %}
          <div class="col-md-4">
              <div class="card">
                  <a href="{% url 'recipes:recipe' result.pk %}">
                    <img src="https://via.placeholder.com/350x150">
                  </a>
                  <div class="card-content">
                      <br>
                      {% comment %} <h4>Project {{ forloop.counter }}</h4> {% endcomment %}
                      <h3>{{ result.title }} added by <strong>{{ result.owner }}</strong></h3>
                      <hr>
                        <p>{{result.description|truncatechars:250}}</p>
                      <br>
                  </div>
              </div>
          </div>
    {%  if forloop.counter|divisibleby:3 or forloop.last %}</div><hr>{%  endif %}
    {%  endfor %}
  
  {% else %}
    <strong>No available recipes</strong>

  {% endif %}

  <div class="d-flex justify-content-center">
    <span class="step-links">
      {% if page_obj.has_previous %}
        <a role="button" class="btn btn-secondary btn-sm" href="?page=1">first</a>
        <a role="button" class="btn btn-primary btn-sm" href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
      </span>

      {% if page_obj.has_next %}
        <a role="button" class="btn btn-primary btn-sm" href="?page={{ page_obj.next_page_number }}">next</a>
        <a role="button" class="btn btn-secondary btn-sm" href="?page={{ page_obj.paginator.num_pages }}">last</a>
      {% endif %}
    </span>
  </div>

{% endblock %}
